@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {	color: #333; text-decoration: none; }

li { list-style: none; }


#header {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: navy;
	color: #fff;
	text-align: center;	
}

#nav {
	width: 100%;
	height: 40px;
	background-color: #b7b7ff;
}

#nav ul { display: flex; }

#nav li { padding: 10px; }

.section {
	position: fixed;
	width: 100%;
    height: calc(100% - 150px);
	overflow: auto;
	background-color: #efefef;
}

.section h2 {
	text-align: center;
	padding: 20px;
}

.section p {
	padding: 10px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #0000a0;
	color: #fff;
}


.table_line {
	margin: auto;
	border: 1px solid black;
	margin-bottom: 20px;
}

.table_line th, td {
	border: 1px solid black;
	padding: 4px 10px;
}

.center td {
	text-align: center;
}

.colored th {
	background-color: #c0c0c0;
}